body {
  margin: 0 auto;
  padding: 1em;
  max-width: 40em;
  font-size: 1.25em;
  font-family: 'Helvetica', sans-serif;
  color: #333;
}

input, label, cite, button[type="submit"] {
  display: block;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

label, button[type="submit"] {
  margin-top: 0.5em;
}

button[type="submit"] {
  padding: 0.25em 0.5em;
  background: none;
  border: 1px solid;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

button[type="submit"]:hover {
  color: white;
  background-color: #333;
}

input {
  padding: 0.25em;
  border: 1px solid;
}

blockquote {
  padding-left: 0.5em;
  border-left: 0.25em solid;
}
